;hisdata=C://TestData//HisData
hisdata=D://HistData


;savedatabar=C://TestData//SaveDataBAR
savedatabar=D://sllin_code//DataServer//SaveDataBAR

;savedatatik=C://TestData//SaveDataTIK
savedatatik=D://sllin_code//DataServer//SaveDataTIK


;dbtype=MYSQL
dbtype=SQLITE
starttime=1980-01-28 10:00:00